- A client is anything connecting to a server that is not another server.

- Each client is identified by a unique nickname.
  • Maximum length of nickname: 9 characters.
  • Nicknames must be unique in the network.
  • Certain characters are not allowed in nicknames (e.g., spaces, some symbols).

- For every connected client, servers must store the following information:
  1. Nickname
  2. Hostname (real name of the host the client is running on)
  3. Username (the client's username on that host)
  4. The server to which the client is connected

- Example:
  Nickname: Alice
  Username: alice
  Hostname: pc123.home.net
  Server: irc.paris.net



////////////////////////////////////////////////////////////////